$text-color: #333333;
$second-text-color: #666666;
$third-text-color: #A5A5A5;
$bg-color: #1D1F1F;
$second-bg-color: #F8F8F8;
$icons-color: #62D0B6;
$number: #F55157;
$dash-number: #A5A5A5;
$star: #FFC62A;
$dash-star: #D6D6D6;
$discount-bg-color: #fddcdd;
$discount-bg-color: #f55157;
$discount-text-color: #ffffff;