//footer
footer{
    margin-top: 4rem;
    transition: 0.6s;
    .top-footer{
        background-color: #F8F8F8;
        padding: 1rem;
        .content{
            @include flex;
            justify-content: space-around;
            .cart{
                @include flex;
                cursor: pointer;
                .icon{
                    position: relative;
                    padding: 1rem;
                    margin: 0.5rem;
                    background-color: #D6F8F080;
                    border-radius: 50%;
                    i{
                        color: $icons-color;
                        font-size: xx-large;
                    }
                }
                .icon-title{
                    font-size: 20px;
                    margin: 1rem;
                    span{
                        font-size: 14px;
                        color: #666666;
                    }
                }
            }
            .email{
                .search-box{
                    height: 43px;
                }
                .text{
                    font-size: 14px;
                    font-weight: bold;
                }
                input{
                    width: 408px;
                    height: 100%;
                    padding: 1rem;
                }
                button{
                    background-color: $icons-color;
                    border: none;
                    width: 90px;
                    height: 43px;
                    &:hover{
                        background-color: #00ffc3;
                    }
                }
            }
            .app{
                .text{
                    font-size: 16px;
                    font-weight: bold;
                }
                .store{
                    @include flex;
                    .app-container{
                        @include flex;
                        margin-left: 0.5rem;
                        .app{
                            color: white;
                            text-align: center;
                            @include flex;
                            padding: 10px;
                            border-radius: 8px;
                            .text{
                                font-size: 10px;
                                font-weight: bold;
                                margin: 0;
                                span{
                                    font-size: 15px;
                                }
                            }
                            i{
                                font-size: 2rem;
                                margin-right: 0.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
    .second-footer{
        @include flex;
        justify-content: space-around;
        align-items: start;
        padding: 1rem;
        .title{
            font-size: 25px;
            font-weight: bolder;
        }
        .text{
            width: 301px;
        }
        .text, a{
            font-size: 16px;
            color: #666666;
        }
        a:hover{
            color: $icons-color;
        }
        .follow{
            i{
                padding: 10px;
                border: 1px solid #A5A5A5;
                border-radius: 50%;
                color: #A5A5A5;
                margin-left: 0.5rem;
                &:hover{
                    color: $icons-color;
                    border: 1px solid $icons-color;
                }
            }
        }
    }
    .bottom-footer{
        background-color: #1D1F1F;
        padding: 1rem;
        color: white;
        @include flex;
        justify-content: space-around;
        .imgs{
            @include flex;
            .vat{
                @include flex;
                margin-left: 1rem;
                img{
                    width: 22.5px;
                    margin-left: 5px;
                }
                p{
                    margin: 0;
                }
            }
        }
        .payment{
            @include flex;
            div{
                background-color: white;
                padding: 5px;
                border-radius: 8px;
                margin: 0 0.5rem;
            }
            img{
                width: 60px;
            }
        }
    }
}

@media (max-width: 1024px){
    .top-footer{
        background-color: black;
        .email{
            input{
                width: 200px !important;
            }
        }
        .icon-title{
            font-size: 17px !important;
            span {
                font-size: 11px !important;
            }
        }
    }
}
@media (max-width: 768px){
    .top-footer{
        background-color: black;
        .email{
            input{
                width: 400px !important;
            }
        }
    }
    footer .second-footer .text, footer .second-footer a {
        font-size: 14px !important;
    }
    footer .second-footer .title {
        font-size: 20px !important;
    }
    footer .second-footer {
        justify-content: space-between;
    }
    .copyright{
        margin: 1rem;
    }
}
@media (max-width: 425px){
    .top-footer{
        background-color: black;
        .email{
            input{
                width: 60% !important;
            }
        }
    }
    footer{
        .second-footer{
            display: block !important;
            text-align: center;
        }
    }
    footer .second-footer .text, footer .second-footer a {
        font-size: 14px !important;
        text-align: center;
        width: 100%;
    }
    .email .search-box {
        height: auto !important;
    }
}