// Header styles
header {
    .title .img{
        margin-left: 5px;
    }
    .top-header {
        i{
            color: $icons-color;
        }
        background-color: $second-bg-color;
        @include flex;
        justify-content: space-around;
        .title, .contact-us {
            @include flex;
            a, p {
                margin: 0 1rem;
                cursor: pointer;
                color: $second-text-color;
            }
            button {
                background-color: transparent;
                outline: none;
                border: none;
            }
        }
    }
    .bottom-header {
        .details {
            @include flex;
            justify-content: space-around;
            .cart-profile {
                @include flex;
                .cart {
                    @include flex;
                    cursor: pointer;
                    a{
                        color: #A5A5A5;
                    }
                    i {
                        color: $second-text-color;
                    }
                    .fa-chevron-up{
                        color: black !important;
                        font-size: 10px !important;
                    }
                    .icon-title {
                        font-size: 14px;
                        color: $third-text-color;
                        margin: 1rem;
                        span {
                            font-size: 16px;
                            color: $text-color;
                        }
                    }
                }
                .icon {
                    position: relative;
                    padding: 0.5rem;
                    background-color: $second-bg-color;
                    border-radius: 50%;
                    p {
                        position: absolute;
                        background-color: $number;
                        color: white !important;
                        top: 0;
                        right: 0;
                        font-size: 10px;
                        width: 18px;
                        height: 18px;
                        text-align: center !important;
                        @extend .circle;
                        color: $text-color;
                    }
                }
                .img{
                    margin: 1rem;
                    width: 44px;
                    height: 44px;
                }
                .logo-title{
                    font-weight: 700;
                    font-size: 22px;
                    color: black;
                    margin: 1rem;
                }
            }
        }
        .search{
            width: 696px;
            position: relative;
            input{
                width: 100%;
                height: 46px;
                padding: 0.5rem;
            }
            i{
                position: absolute;
                left: 10px;
                top: 35%;
            }
        }
    }
    .titls {
        background-color: $bg-color;
        text-align: center;
        padding: 5px;
        @include flex;
        .dropdown-item{
            color: black;
            &:hover{
                background-color: transparent !important;
            }
        }
        .dropdown-toggle::after {
            display: none;
        }
        a {
            color: white;
            margin: 0 1rem;
            display: flex;
            align-items: center;
            i {
                margin-right: 0.5rem;
                color: white;
            }
        }
    }
    
}
.btn-close{
    position: absolute;
    top: 1rem;
    left: -2rem;
    background-color: #F55157 !important;
    --bs-btn-close-bg: url("https://img.icons8.com/ios-filled/50/FFFFFF/delete-sign--v1.png") !important;
    border-radius: 50% 0 0 50% !important;
    opacity: 1 !important;
}
.navbar{
    display: none !important;
    position: relative;
    .dropdown-menu{
        margin: 0;
        padding: 0;
        border: none;
    }
    .nav-btn{
        color: black !important;
        background-color: #F8F8F8 !important;
        width: 49%;
        font-size: 14px !important;
        font-weight: bold;
        border: 0;
        opacity: 0.7;
        &:hover{
            opacity: 1 !important;
        }
        img{
            width: 15px !important;
            height: 15px !important;
            margin: 0 !important;
        }
    }
    .offcanvas-header{
        border-bottom: 1px solid #EEEEEE;
    }
    .offcanvas-title{
        font-size: 16px !important;
        font-weight: bold;
    }
    .show{
        color: #62D0B6 !important;
    }
    .offcanvas-body{
        padding: 0.5rem;
    }
    .pe-3{
        padding: 0 !important;
        font-size: 14px !important;
        font-weight: bold;
        color: black;
    }
    .nav-link{
        display: flex;
        justify-content: space-between;
    }
    .dropdown-item{
        width: 0;
        padding-top: 0.5rem;
        padding: 0;
        padding-top: 0.5rem;
        font-size: 14px;
    }
    .offcanvas {
        height: 100%;
        right: 0;
        top: 0;
        padding: 0;
        max-width: 90%;
    }
    .navbar-toggler{
        padding: 0 !important;
        border: none !important;
        box-shadow: none !important;
        width: fit-content !important;
        height: fit-content !important;
        color: #62D0B6;
    }
    .container-fluid{
        padding: 0 !important;
        margin: 0;
    }
    .offcanvas.offcanvas-end{
        width: 240px;
    }
}

@media (max-width: 1024px){
    header{
        .search{
            width: 50%;
        }
        a, p{
            font-size: small;
            margin: 0 0.5rem;
        }
        .bottom-header{
            .icon{
                p{
                    font-size: 8px !important;
                    width: 15px !important;
                    height: 15px !important;
                    margin: 0 !important;
                }
            }
        }
    }
}
@media (max-width: 768px){
    header {
        .bottom-header{
            .search{
                display: none !important;
            }
        }
        a, p {
            font-size: x-small !important;
            margin: 0 0.4rem !important;
        }
    }
    nav{
        a, p {
            font-size: x-small !important;
            margin: 0 0.4rem !important;
        }
    }
}
@media (max-width: 425px){
    .navbar{
        display: block !important;
    }
    .bottom-header{
        .cart{
            img{
                width: 20px;
                height: 20px;
            }
            .icon-title span {
                font-size: 10px !important;
            }
        }
    }
    .top-header{
        .title{
            display: none !important;
        }
        padding: 0.5rem;
    }
    .titls{
        background-color: white !important;
        .dropdown{
            display: none !important;
        }
        .search{
            display: block !important;
            width: 100%;
            position: relative;
            input{
                width: 100%;
                height: 46px;
                padding: 0.5rem;
                border: 1px solid #EEEEEE !important;
            }
            i{
                position: absolute;
                left: 10px;
                top: 35%;
            }
        }
    }
    .hide{
        .icon-title{
            display: none !important;
        }
    }
}