@import "../sass-utils/helpers";
@import "../sass-utils/mixins";
@import "../sass-utils/variables";
@import "../components/navbar";
@import "../components/footer";
@import "../components/buttons";
@import "../sass-utils/media";

@font-face {
    font-family: 'DINNextLTArabicLight';
    src: url('../../Assets/fonts/DIN\ Next\ LT\ Arabic\ Light.ttf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DINNextLTArabicLight', sans-serif;
    a{
        text-decoration: none !important;
    }
}
//cart
.cart-container{
    @include flex;
    justify-content: space-between;
    align-items: flex-start;
    .product{
        border: 1px solid #EEEEEE;
        padding: 1rem;
        font-weight: bold;
        .title{
            color: #333333;
            font-size: 18px;
            font-weight: bolder;
        }
        .num{
            @include flex;
            justify-content: space-between;
            font-size: 16px;
            color: #666666;
        }
        .input{
            font-size: 14px;
            input{
                padding: 1rem;
                background-color: white;
                border: 1px solid #EEEEEE;
            }
            button{
                padding: 1rem;
                border: 1px solid $icons-color;
                color: $icons-color;
                background-color: white;
                outline: none;
            }
        }
        .product-num{
            font-size: 16px;
            @include flex;
            justify-content: space-between;
            margin-top: 1rem;
        }
        .vat{
            font-size: 14px;
            color: #A5A5A5;
        }
        .done{
            background-color: #62D0B6;
            color: white;
            padding: 1rem;
            width: 100%;
            border: 1px solid $icons-color;
            &:hover{
                background-color: white;
                color: $icons-color;
            }
        }
    }
    .list-product{
        width: 970px;
    }
    .products{
        margin-bottom: 1rem;
        background-color: white;
        border: 1px solid #EEEEEE;
        width: 100%;
        @include flex;
        justify-content: space-between;
        padding: 1rem;
        font-weight: bold;
        .image{
            width: 95px;
        }
        .content{
            .title{
                font-size: 16px;
            }
        }
        .counter-1{
            @include flex;
            border: 1px solid #EEEEEE;
            i{
                margin: 0.5rem;
                margin: 1rem;
            }
            .number{
                padding: 0 1rem;
                border-left: 1px solid #EEEEEE;
                border-right: 1px solid #EEEEEE;
            }
        }
        .price{
            font-size: 18px;
        }
        .btn-close{
            background-color: #F8F8F8;
            padding: 1rem;
            border-radius: 50%;
        }
    }
}

@media (max-width: 1042px){
    .list-product{
        width: 100%;
    }
    .product{
        width: 100%;
    }
}

@media (max-width: 425px) {
    .btn-close1{
        display: block !important;
    }
    .cart-container .products .title{
        font-size: 12px !important;
    }
    .cart-container{
        input{
        width: 303px;
        }
        .counter-1 ,.price{
            display: none !important;
        }
        .new-counter{
            display: flex !important;
            justify-content: space-between;
            width: 100%;
            border-top: 1px solid #EEEEEE;
            padding-top: 1rem;
            .counter-2 ,.price2{
                display: flex !important;
            }
        }
    }
}