@import "../sass-utils/helpers";
@import "../sass-utils/mixins";
@import "../sass-utils/variables";
@import "../components/footer";
@import "../components/buttons";
@import "../components/navbar";
@import "../sass-utils/media";
@font-face {
    font-family: 'DINNextLTArabicLight';
    src: url('../../Assets/fonts/DIN\ Next\ LT\ Arabic\ Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DINNextLTArabicLight', sans-serif;
    a{
        text-decoration: none !important;
    }
}

.section-title{
    font-size: 35px;
    font-weight: bolder;
    span{
        font-size: 16px;
        font-weight: bold;
    }
}
//Carousel
.carousel{
    .carousel-indicators{
        .active{
            border: 1px solid transparent !important;
        }
    }
    img{
        height: calc(100vh - 156px);
    }
    .carousel-caption {
        top: 50%;
        transform: translateY(-35%);
        color: white;
        h5{
            font-size: 48px;
            font-weight: 700;
        }
        p{
            font-size: 16px;
            font-weight: 400;
            margin: 1rem 0;
        }
        .btn{
            color: white;
            background-color: $icons-color;
            width: 200px;
            height: 56px;
            font-size: 16px;
            font-weight: 500px;
            transition: 0.6s;
        }
        .btn:hover{
            color: $icons-color !important;
            background-color: white;
        }
        .w-100{
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }    
    .carousel-indicators {
        button {
          background-color: transparent;
          border: 1px solid #ccc;
          width: 14px !important;
          height: 14px !important;
          border-radius: 50%;
          transition: 0.6s !important;
          &.active {
            background-color: $icons-color !important;
            width: 37px !important;
            height: 14px !important;
            border-radius: 18px;
          }
        }
      }
      .carousel-control-next, .carousel-control-prev{
        opacity: 1;
      }
      .border{
        border: 1px solid #EEEEEE;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        @include flex;
      }
      .carousel-control-next-icon, .carousel-control-prev-icon{
        color: #EEEEEE;
        width: 16px;
        height: 16px;
      }
}

//List container
.list-container{
    .icon-title {
        font-size: 20px;
        margin: 1rem;
        font-weight: bolder;
        span {
            font-size: 16px;
            color: $second-text-color;
        }
    }
    .payment{
        i{
            color: $icons-color
        }
        @include flex;
        border: 1px solid #EEEEEE;
        margin-top: 2rem;
        .pay{
            width: 369px;
            margin: 1rem
        }
        .cart{
            @include flex;
            cursor: pointer;
            border-left: 1px solid #EEEEEE;
            i {
                font-size: xx-large;
            }
        }
    }
    .banner-container{
        @include flex;
        justify-content: space-between !important;
        text-align: right;
        .banner{
            width: 49%;
        }
        .banner{
            height: 244px;
            @include flex;
            justify-content: left;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            margin-bottom: 1rem !important;
            .content{
                margin: 1rem;
                p{
                    font-size: 16px;
                    font-weight: bold;
                }
                h1{
                    font-size: 36px;
                    font-weight: bolder;
                }
            }
        }
        .banner1{
            background-image: url("https://s3-alpha-sig.figma.com/img/3166/84d7/153c74b62a7e4d8421adc39ff1979b39?Expires=1725840000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=cZ4s4L04QMdwOC5VeRIul6rOPeMBAcK7IORNDTp-xVk0BOOniAJWU247o04VO7tPIX-261dZaapLmC2FuJ2wdVPMcG9DgUEwbl2It1avNsEWbL5vUwvR3~oew3gEua0Uc5A419rlyELRFmgDr2Co7o8mIitpMAv4ANQjZMXTgK5Tono3pxOvjW0Hm3GJg2~41lFi0J1Q0jaxnG8OrxLbuZ9aa9hI6yzQQTVhF8QXc3KndO6RM1iT6RuKfexad6pynx6tpMhzKkTNbPArl4Yu~AlLAVf03o3rZEJdQ25itbOvJOYIkxMxgGRMpxht4BwTRIOy3XPqNFG1QlJmxndZ~Q__");
        }
        .banner2{
            background-image: url("https://s3-alpha-sig.figma.com/img/e6f7/b831/edf15ab31145fd126d306d3c0e867293?Expires=1725840000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=bFjuu0~aTM2YOUI30xmeHStyAfss5AJfkKEdretG~XkKgiN~OMQXw054wJDT6CjetmRdDjo9qFvMHbTveBgu2Oz4xTtpUKUj0Q28WVelvXV0EWOhxQpqJEWNCqxRHdb1eOT4ki59h8GNtNcb7RMmWGTEz089g34zrNTX2J9tUgfGaTa7-a3fKWWEQwQidZckB~ASNUzWwTnUiZrdCxYqy3Pc-xiAJY7jzc0uLfdKX9cr9WC3S0BITxGTe-KztMlT5rLVYE811aZ-j3j52oa5nxMXcBONKmDxQQF3Qquv1O4CfAPfHtbwTd-f8nuvqt-PEOP3~iFnnQmw1p6DYIty5g__");
        }
    }
    .products{
        margin: 3rem 0;
        .main-products{
            @include flex;
            justify-content: space-between;
            margin: 1rem 0;
            position: relative;
            width: 100%;
            .icon-title{
                margin: 0;
            }
            .btn{
                position: absolute;
                bottom: 0;
                left: 0;
                color: $icons-color;
                background-color: white;
                width: 109px;
                height: 42px;
                font-weight: 500px;
                border: 1px solid $icons-color;
            }
        }
        .product-container{
            @include flex;
            justify-content: space-between;
            .card{
                margin-bottom: 1rem;
            }
            .card-title{
                color: $icons-color;
                font-size: 14px;
                font-weight: 400;
            }
            .card-text{
                font-size: 16px;
                font-weight: bold;
                span{
                    font-size: 14px;
                    color: #666666;
                }
            }
            .price{
                font-size: 18px;
                color: $number;
                font-weight: bold;
                span{
                    font-size: 14px;
                    font-weight: 400;
                    text-decoration: line-through;
                    color: $third-text-color;
                }
            }
            .btn{
                border: #EEEEEE 1px solid;
            }
            .add{
                width: 192px;
                height: 56px;
                color: black;
                font-size: 16px;
                font-weight: bolder !important;
                &:hover{
                    background-color: $icons-color;
                    color: white;
                }
            }
            .save{
                width: 3.8rem;
                font-size: 50px;
                height: 56px;
                font-size: 18px;
                color: $dash-number !important;
                i{
                    transition: color 0.6s;
                }
            }
        }
    }
}

//pattern
.pattern{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://s3-alpha-sig.figma.com/img/31cb/df21/bd606de6104285953885e8ed3963ded4?Expires=1725840000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=bfWzHUj~MFPXIycq~h~jONw-YhpX1Y7LEbVw-F-K4Ldi~2yB0XCs6r579pjzqTz-wjTFEkcBXSCnQBIjv26Clm5WkssIH5vHOeiB5kA8qtp6XYL1tGx2biv~VbrkMHYhlWHZno-7hGoxOSw~sueYz4XO30WhVgTyJxFypYiM1q~eu2zjGTOS1KfedEc1~d3P8TM9Dxmar4EFCm4WXQqkxXa12v5mmEIN5cbH1xK5meuxvUmqva5cmlpYdGGNxMnRYq4klEdNqNTERfQkkkDvd2a5ray3uonzKsmqvkEkpgwH0sB-wB1XmKEgirCIIBSdmBA2ia9lERwzuC~0xdi-qg__");
    padding: 3rem 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include flex;
    aside{
        display: inline-block;
        .img{
            @include flex;
        }
        .text{
            color: white;
            @include flex;
            margin: 0 15%;
            h1{
                font-size: 70px;
                font-weight: bolder;
                margin-bottom: 5rem;
            }
            p{
                font-size: 16px;
                font-weight: bold;
                margin-bottom: 2rem;
            }
            .btn{
                background-color: $icons-color;
                color: white;
                width: 200px;
                height: 56px;
                &:hover{
                    background-color: white;
                    color: $icons-color;
                }
            }
        }
    }
}

.container {
    margin-top: 20px;
    .img1{
        position: relative;
    }
}


//category
.category{
    .items{
        @include flex;
        justify-content: space-between;
    } 
    .category-item {
        background-color: white;
        padding: 15px;
        border-radius: 10px;
        display: inline-block;
        width: 14.2%;
    }
    .category-name {
        color: $text-color;
        font-size: 1rem;
        margin: 0;
    }
    .category-count {
        color: $third-text-color;
        font-size: 0.875rem;
        margin: 0;
    }
    .btn-container{
        color: $icons-color !important;
        border: 1px solid $icons-color !important;
        &:hover{
        background-color: $icons-color !important;
        color: white !important;
        }
    }
}

.con{
    .category-title {
        color: $text-color;
        margin: 0;
        font-size: 24px;
        font-weight: bolder;
    }
    .category-subtitle {
        color: $second-text-color;
        font-size: 16px;
        margin: 0;
        font-weight: bold;
    }
    .btn{
        color: white;
        background-color: $icons-color;
        width: 200px;
        height: 56px;
        font-size: 16px;
        font-weight: 500px;
        transition: 0.6s;
        &:hover{
            color: $icons-color !important;
            background-color: white;
        }
    }
}

//banners
.banners-container{
    .banners{
        @include flex;
        justify-content: space-between;
        .content{
            color: white;
            margin: 1rem;
            p, a{
                font-size: 16px;
            }
            h1{
                font-size: 24px;
                font-weight: bolder;
            }
        }
    }
    .banner{
        width: 32%;
        height: 229px;
        margin-bottom: 1.5rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: inline-block;
    }
    .banners1{
        .banner1{
            background-image: url("https://s3-alpha-sig.figma.com/img/d20d/f7cd/927169b24afd7b1b93c5b2414959346a?Expires=1725840000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=fXd1eqPZCpF6TlV1PKGAZSJk17yTLayLuCBMIPh6iREV1aHKbhHoW0t6ODx-kdgA0NzFjRuutfoFVU1TkA9-~ar2LP60eNKU7x5-HLcHk~5ltfjx68fTS0H4IJQZ50hoFtOQvHsTy6FY3UtiFw1rtwSB7KQGB7R1kWnA~D7lSxPkUWCVNzmfFdP5eC2FUSpDycP~~jE6LfKzSz-emles23et8tyXKNcVGyQVtRB4ocjNGnmnAe3mC9cJU0N1cfxJ-D2bx70jNkc55J0i1aYRcBGzkHQFQMTWwl-39CuKbBpEUYs3CUx1k9XvL4BhRj7Pu~YJ6yU9RCw079T9vHbz~Q__");
        }
        .banner2{
            background-image: url("https://s3-alpha-sig.figma.com/img/8845/465a/d594249de448d0d9d1081e42a5edc57b?Expires=1725840000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=ebwyqysTsns3DOwPVOsM0zgtAi4o8L~RijkGSWrdeSORtPFHUq8ydFWn7rDA1xgZgEhse5tAtII374cb0Ct6x4tY2CmI7OU6jAWEcZHPQKNSar3LsyldiNhTspSQif-uqW22qgGky539-Ur7aAwmjW3~9bTnw08Mt99xDxZ12WfrSzxiWV0ecIJLFN7E0eQHshtwRRlIwSQTnCVt0ZGslr8izc3rCbSKq45euhuExVp2iWFiLaWYymAzch4vMvoDoiG7AvY0tM7aUe-frbKojEJxssVpBuv5d8aZ9Td6q3Upk9j8Nr5RVecZTtgamb0cqxmlOasorIVX4p1nz48tdw__");
            @extend .banner1;
        }
        .banner3{
            background-image: url("https://s3-alpha-sig.figma.com/img/5e01/f54b/04b169783b2993eeb84d444420f19fc3?Expires=1725840000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Yo0aE~jY2BZ6IIPYHpmdz6WeZlUSBzi0ytgLlLDRSoxLSVfPye3H2myxK4Z4QTMUoJxnOIkSnquZbzIeHQE~FKrtelgOvd~y3Ed~ttO0krawtPd8Ft5O1WLejV7f94deWv4Xwc6FSkZGGCzcUYX9ot8UX47deamTuDOc6KJSCUwBKQ7nnlZnBBzYO9RSJBrotVeaq39aGC8nvheNsbGQfK3Q35VvWoG6vVn9vxLTJIHKS1Tcp~pWGmXwfZ5LcbAM2SAT1SRWM64SLLyr3B9Thsn9Xhx8dvdEQbyrg~KlXefy4umy7HxktUrBv2VlN-7JDYP2qlDGWYK4pVgvm18qBA__");
            @extend .banner1;
        }
        .banner4{
            background-image: url("https://s3-alpha-sig.figma.com/img/b09e/4825/a7b350293af3b1f7f955eaebb0562364?Expires=1725840000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=T7eutr3fdm7r6CxFbgSn8x4ghOTxU8~6~b3d2-whnAS6lszusZhcJOCO-52av9lDStfJq42s1wK~aGTGYhYBzbZePQ8paDUz5iBbSbhksQkfUTLtYac48tT1ROAM1~DTM28aCxVFzCRkmpHm3DbmnCafbgGVRfMayspAEKoTp7b8xxENNYJ6OW9evjmSSsqSIry~N4Z2fb3Fr2oVdfP-xGsgdSWMLM5JOz6dD84yl6I9IaK1L~fva4czQ8b4l4p98JRsI5trXrZWLXH0vowYVXBdao46pD-Uh8tgnjAGQLrsHvBK8YeZqnD-6-C4IndF32ykIgvtvOWPoeVp-DB~Yg__");
            @extend .banner1;
            width: 100%;
            .content{
                width: fit-content;
                margin-right: auto;
                margin-left: 10rem;
                h1{
                    font-size: 36px;
                }
            }
        }
    }
}

//Products
.products{
    .items{
        @include flex;
        justify-content: space-between;
    }
    .category-item {
        background-color: white;
        padding: 15px;
        border-radius: 10px;
        display: inline-block;
        width: 150px;
    }
    .category-name {
        color: $text-color;
        font-size: 1rem;
        margin: 0;
    }
    .category-count {
        color: $third-text-color;
        font-size: 0.875rem;
        margin: 0;
    }
    .btn-container{
        color: $icons-color !important;
        border: 1px solid $icons-color !important;
        &:hover{
        background-color: $icons-color !important;
        color: white !important;
        }
    }
    .image{
        width: 196px;
        position: relative;
        height: 325px;
        @include flex;
        img{
            width: 100%;
        }
        .discount-container {
            position: relative;
          }
          
          .discount {
            background-color: $number;
            color: $discount-text-color;
            padding: 0.5em 1em;
            border-radius: 5px;
            font-weight: bold;
            font-size: 14px;
            line-height: 20.58px;
            position: absolute;
            top: 10px;
            left: 10px;
            text-align: center;
            &::after {
              content: '';
              position: absolute;
              top: 50%;
              right: -20px;
              transform: translateY(-50%);
              border-width: 10px;
              border-style: solid;
              border-color: transparent transparent transparent $number;
            }
          }
    }
    .content{
        @include flex;
        justify-content: space-between;
        .card-product{
            @include flex;
            border: 1px solid $icons-color;
            width: 640px;
            border-radius: 8px;
            margin-bottom: 1rem;
            .info{
                margin: 1rem;
                .category{
                    font-size: 14px;
                    font-weight: bold;
                    color: $icons-color;
                }
                .title{
                    font-size: 18px;
                    font-weight: bold;
                }
                .description{
                    font-size: 16px;
                    font-weight: bold;
                    color: $second-text-color;
                }
                .price{
                    font-size: 18px;
                    color: $number;
                    font-weight: bold;
                    span{
                        font-size: 14px;
                        font-weight: 400;
                        text-decoration: line-through;
                        color: $third-text-color;
                    }
                }
            }
            .time-container{
                @include flex;
                .time{
                    margin-right: 1rem;
                    padding: 0 1.5rem;
                    background-color: $second-bg-color;
                }
            }
            .buttons{
                margin: 1rem;
                .btn{
                    border: #EEEEEE 1px solid;
                }
                .add{
                    background-color: #62D0B6;
                    color: white;
                    width: 302px;
                    height: 56px;
                    font-size: 16px;
                    font-weight: bolder !important;
                    &:hover{
                        background-color: white;
                        color: $icons-color;
                    }
                }
                .save{
                    font-size: 50px;
                    height: 56px;
                    font-size: 18px;
                    color: $dash-number !important;
                    i{
                        transition: color 0.6s;
                    }
                }
            }
        }
    }
}

//New products
.new-products{
    .product-container{
        @include flex;
        justify-content: space-between;
        .card{
            margin-bottom: 1rem;
        }
        .card-title{
            color: $icons-color;
            font-size: 14px;
            font-weight: 400;
        }
        .card-text{
            font-size: 16px;
            font-weight: bold;
        }
        .price{
            font-size: 18px;
            color: $number;
            font-weight: bold;
            span{
                font-size: 14px;
                font-weight: 400;
                text-decoration: line-through;
                color: $third-text-color;
            }
        }
        .btn{
            border: #EEEEEE 1px solid;
        }
        .add{
            width: 192px;
            height: 56px;
            color: black;
            font-size: 16px;
            font-weight: bolder !important;
            &:hover{
                background-color: $icons-color;
                color: white;
            }
        }
        .save{
            font-size: 50px;
            height: 56px;
            font-size: 18px;
            color: $dash-number !important;
            i{
                transition: color 0.6s;
            }
        }
    }
}

.slide-icon{
    color: #666666;
    background-color: white;
    border: 1px solid #EEEEEE;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    margin: 0.5rem;
}

//product banner
.banner-container{
    margin: 3rem 0;
    @include flex;
    justify-content: space-between;
    text-align: center;
    img{
        width: 272px;
        height: 264px;
    }
    .banner{
        background-color: #E0F6F0;
        width: 32%;
        padding: 1rem;
        transition: 0.7s;
        &:hover{
            transform: scale(1.01);
            cursor: pointer;
        }
        .title{
            font-size: 18px;
            font-weight: bolder;
            span{
                font-size: 14px;
                font-weight: 100;
            }
        }
        button{
            border: none;
            outline: none;
            background-color: transparent;
            color: black;
            font-weight: bolder;
            opacity: 0.7;
            transition: 0.5s;
            &:hover{
                opacity: 1;
            }
        }
    }
}

//pattern-3
.pattern-3{
    background-image: url("https://s3-alpha-sig.figma.com/img/dd4a/ca0c/04ee959688f403dde6c69ca3dce65d79?Expires=1725840000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=ZLh8H-D-~b8RntBMjN6BS3j0XYyJwwsAeek4Yml8UtShy1QWpbFkZdps15LTti0yDKeyD5pCZSoyLwQxQ4tc1FI6VzNtlzbFk139oDF~aizz8eB-2SplRRiM7dD1Q-4ap0i1knBeqIuylda-n7nMvoS4m-UrHZxU6JF3JyOrZ--idK6SM~HXIy99MFiuKiUUnuPMDehbjkZMbUb6TUXGmavOtUf7GPzh790aLPqNyW9X52u10JddCWXyNSHpRxsmxV2UCMXreRPu9RJQRSx4FRCrVxraGv7nM~gxut9KSUht9pzINgwlYW7OKGEEmzs64djM2W-pEdeQFcJr~v6n6g__");
    height: 594.688px;
    display: flex;
    justify-content: center;
    align-items: center;
    .play{
        outline: 1px solid white;
        border-radius: 50%;
        cursor: pointer;
    }
    i{
        font-size: 3rem;
        color: white;
        background-color: #62D0B6;
        padding: 1.5rem;
        border-radius: 50%;
        margin: 1rem;
        width: 100px;
        height: 100px;
        text-align: center;
    }
}


//Review
.review-container{
    @include flex;
    justify-content: space-between;
    i{
        color: #666666;
    }
}
.review{
    width: 32%;
    .content{
        padding: 1rem;
        border: 2px solid #eeeeeeee;
    }
    .rating{
        @include flex;
        justify-content: space-between;
        i{
        color: #D6D6D6;
        }
        span{
            font-size: 55px;
            opacity: .5;
        }
    }
    .active-star{
        color: yellow !important;
    }
    .cart{
        @include flex;
        justify-content: start;
        img{
            width: 48px;
            height: 48px;
            border-radius: 50%;
        }
    }
    .name-title{
        font-size: 18px;
        font-weight: bolder;
        margin: 1rem;
        span{
            font-size: 14px;
            font-weight: bold;
            color: #666666;
        }
    }
    .text{
        color: #666666;
        font-size: 16px;
    }
}

//Blog
.blog{
    .blog-contianer{
        @include flex;
        justify-content: space-between;
    }
    .blog-card{
        width: 32%;
        text-align: center;
        .content{
            margin: 1rem;
            .title{
                font-size: 18px;
                font-weight: bolder;
            }
            .subtitle{
                font-size: 16px;
                font-weight: bold;
                color: #666666
            }
        }
    }
    .main-products{
        @include flex;
        justify-content: space-between;
        margin: 1rem 0;
        position: relative;
        width: 100%;
        .icon-title{
            margin: 0;
        }
        .btn{
            position: absolute;
            bottom: 0;
            left: 0;
            color: $icons-color;
            background-color: white;
            width: 109px;
            height: 42px;
            font-weight: 500px;
            border: 1px solid $icons-color;
        }
        .icon-title {
            font-size: 24px;
            font-weight: bolder;
            margin: 1rem;
            span {
                font-size: 16px;
                color: #666666;
            }
        }
    }
    .image{
        position: relative;
        img{
            aspect-ratio: 3/2;
        }
        .date{
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: white;
            color: black;
            width: 50px;
            p{
                font-size: 20px;
                font-weight: bolder;
                span{
                    font-size: 14px;
                    color: #666666;
                }
            }
        }
    }
}

//Brand
.bran-container{
    @include flex;
    justify-content: space-between;
    .brand{
        width: 19%;
        filter: grayscale(100%);
        padding: 1rem;
        border: 1px solid #EEEEEE;
    }
    img{
        aspect-ratio: 3/2;
        height: auto;
    }
}


.review .cart{
    text-align: right;
}

.second-banner{
    .banner{
        height: auto;
    }
}

@media (max-width: 1440px){
    .pattern{
        text-align: center;
        height: auto;
    }
    .brand img{
        height: auto !important;
        margin-bottom: 1rem;
    }
}
@media (max-width: 1024px){
    .carousel .carousel-caption {
        top: 40%;
    }
    .cart{
        border: none !important;
    }
    .carousel img{
        height: calc(100vh - 133.5px);
    }
    .category-item{
        margin: auto !important;
    }
    .main-banner .banner{
        width: 45% !important;
        .banner4{
            content{
                margin: 1rem !important;
            }
        }
    }
    .content{
        justify-content: center;
        .card-product{
            width: 100% !important;
        }
        .image{
            width: auto;
            height: auto;
        }
    }
    .card-product{
        justify-content: space-around;
    }
    .second-banner{
        padding: none !important;
        .banner{
            width: auto;
            
        }
    }
    .review {
        width: 33%;
        .text {
            font-size: 13px;
        }
        .name-title {
            font-size: 15px;
            margin: .5rem;
            span {
                font-size: 12px;
            }
        }
        .cart img {
            width: 40px;
            height: 40px;
        }
    }
    .blog-card{
        width: 33% !important;
        img{
            aspect-ratio: 3/2;
        }
    }
    .banners-container .banners1 .banner4 .content {
        margin: 1rem;
    }
}
@media (max-width: 768px){
    #carouselExampleCaptions img{
        min-height: 350px;
    }
    .pattern aside .text h1 {
        font-size: 60px;
        font-weight: bolder;
        margin-bottom: 3rem;
    }
    .pattern-3 i {
        font-size: 1.5rem;
        color: white;
        background-color: #62D0B6;
        margin: .7rem;
        width: fit-content;
        height: fit-content;
        text-align: center;
    }
    .slide img{
        height: calc(100vh - 97px);
        .carousel-caption{
            h5{
                font-size: 40px;
            }
            p{
                font-size: 14px;
            }
            .btn{
                width: 150px;
                height: 50px;
            }
        }
    }
    .blog-contianer{
        justify-content: center;
        .blog-card{
            width: auto;
        }
    }
    .review-container{
        .review{
            width: auto;
            margin-bottom: 1rem;
        }
    }
    .pattern-3 i {
        font-size: 2rem;
        padding: 1rem;
    }
    .second-banner{
        .banner{
            margin: auto;
            margin-top: 1rem;
        }
    }
    .payment .pay{
        width: auto;
    }
}
@media (max-width: 425px) {
    .slide img{
        height: calc(100vh - 56px);
    }
    .carousel .carousel-caption {
        h5{
            font-size: 30px;
        }
        p{
            font-size: 11px;
        }
        button{
            width: 125px !important;
            height: auto !important;
        }
    }
    .carousel .border {
        border: 1px solid #EEEEEE;
        width: 30px !important;
        height: 30px !important;
        border-radius: 50%;
    }
    .list-container .banner-container .banner {
        width: 100%;
    }
    .products{
        .card{
            width: auto !important;
            margin: auto;
        }
    }
    .main-banner{
        .banner{
            width: 100% !important;
        }
    }
    .product-container{
        .card{
            width: 100%;
            margin: auto;
        }
    }
    .blog .blog-card {
        width: 100% !important;
    }
    .brand{
        width: 100% !important;
        margin: auto;
        margin-top: 1rem;
    }
    .pattern aside .text h1 {
        font-size: 32px;
        font-weight: bolder;
        margin-bottom: 1rem;
    }
    .category .category-item{
        width: auto;
    }
    .pattern-3 i {
        font-size: 1rem !important;
        color: white;
        background-color: #62D0B6;
        margin: .5rem;
        width: fit-content;
        height: fit-content;
        text-align: center;
    }
}